
<!DOCTYPE html>
<html>
<head>
	<title>YesSer | Terms & Conditions</title>
	<meta charset="UTF-8">

	<!-- Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
<div class="row">
<div class="col-md-12">

<h1 style="text-align: center; padding: 20px;">YesSer Terms and Conditions</h1>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Welcome to YesSer Technology LLC Oman. In the event that you proceed to peruse and utilize our application/YesSer application you are consenting to agree to and be bound by the accompanying terms and states of utilization, which together with our security strategy. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In the occasion there is a contention between the terms and conditions determined thus and the arrangements of some other report executed between the gatherings hereto, the terms and conditions indicated in this would win.</span></p>

<h4 style="padding: 15px 0px;"><strong>DEFINITIONS</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The accompanying definitions apply to the terms and conditions set out underneath that administer this agreement of Carriage amongst you and us.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">"We", "us", "our", "Carrier", YesSer shall refer as YesSer Technology LLC and it&rsquo;s online services. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You, your, consignor shall refer to the sender, consignor or consignee of the Consignment, holder of this Consignment Note, receiver and owner of the contents of the Consignment or any other party having a legal interest in those contents, as the case may be.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">"Carriage" means and includes the whole of the operations and services undertaken by Drivers, Operators (Transport Companies) connected through YesSer app in connection with the Consignment.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">"Consignment" means any package, parcel, satchel, or freight which is or are given to and accepted by us for carriage under our Consignment Note. Moreover, it can also include Water Tankers and Gas Cylinders. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Dangerous Goods implies merchandise delegated hazardous which may make any damages or &nbsp;harm according to the law of the country of activities of transport.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Delivery means the tender of the consignment to the consignee or intimation about the arrival of the consignment.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">"Prohibited Items" implies any products or materials, the Carriage of which is disallowed by the law of Sultanate of Oman and all Gulf Countries.</span></p>

<h4 style="padding: 15px 0px;"><strong>USER(S) ELIGIBILITY</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">User(s) implies any individual or business element/association that legitimately works in Sultanate of Oman and all Gulf Countries or in different nations, utilizes and has the privilege to utilize the Services offered by YesSer TECHNOLOGY LLC OMAN. The Services offered by YesSer TECHNOLOGY LLC OMAN is an innovation based online service which empowers the connecting of Vehicles by clients for a point to point benefit, or for time and use based online service inside city limits and outside city limits, including between cities all in Sultanate of Oman and all Gulf Countries, through the online app or web online. Our Services are accessible just to those people or organizations who can shape legitimately restricting contracts under the relevant law. Thus, user(s) must not be a minor according to Sultanate of Oman and all Gulf Countries Law; i.e. user(s) must be no less than 18 years old to be qualified to utilize our Services. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer TECHNOLOGY LLC OMAN exhorts its clients that while accessing to the Online YesSer App or web-get to, they should take after/comply with the related laws. YesSer TECHNOLOGY LLC OMAN isn't in charge of the conceivable outcomes caused by your conduct amid utilization of Online YesSer App. YesSer TECHNOLOGY LLC OMAN may, in its sole prudence, reject the administration to anybody whenever.</span></p>

<h4 style="padding: 15px 0px;"><strong>USER(S) AGREEMENT</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">This agreement applies to user(s) if user(s) are guests, enrolled - free or paid user(s) who get to the Online YesSer App for any reason. It likewise applies to any lawful element, which might be spoken to by you under real or obvious specialist. User(s) may utilize this App exclusively for their very own or inside purposes. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">This agreement applies to all YesSer TECHNOLOGY LLC OMAN Services offered on the Online YesSer App, all things considered with any extra terms and condition that might be material to the particular administration utilized/got to by user(s).In the occasion of a contention or irregularity between any arrangement of the terms and conditions said in this with those of the specific administration, the arrangements of the terms and conditions appropriate to such particular Services should win.</span></p>

<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><strong><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">AMENDMENT TO USER(S) AGREEMENT</span></strong></p>
<!--<h4 style="padding: 15px 0px;"><strong>AMENDMENT TO USER(S) AGREEMENT</strong></h4>-->

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer TECHNOLOGY LLC OMAN may change, adjust, correct, or refresh this agreement every once in a while with no earlier warning to user(s) and the revised and rehashed terms and states of utilization should be taking effect right now on posting. On the off chance that you don't hold fast to the progressions, you should quit utilizing the administration. Your consistent utilization of the Services will imply your acknowledgment of the changed terms. User(s) should likewise be bound by any change made in any approach or understanding now and again, alluded to in this Terms of Service.</span></p>

<h4 style="padding: 15px 0px;"><strong>INTELLECTUAL PROPERTY RIGHTS</strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer TECHNOLOGY LLC OMAN is the sole owner or lawful licensee of all the rights to the Online YesSer App and its content. Online YesSer App content means its design, layout, text, images, graphics, sound, video etc. The Online YesSer App content embody trade secrets and intellectual property rights protected under worldwide copyright and other laws. All title, ownership and intellectual property rights in the Online YesSer App and its content shall remain with YesSer TECHNOLOGY LLC OMAN, its affiliates or licensor's of YesSer TECHNOLOGY LLC OMAN content, as the case may be.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All rights, not otherwise claimed under this agreement or by YesSer TECHNOLOGY LLC OMAN,, are hereby reserved. The information contained in this Online YesSer App is intended, solely to provide general information for the personal use of the reader, who accepts full responsibility for its use. YesSer TECHNOLOGY LLC OMAN does not represent or endorse the accuracy or reliability of any information, or advertisements (collectively, the "content") contained on, distributed through, or linked, downloaded or accessed from any of the Services contained on this Online YesSer App, or the quality of any products, information or other materials displayed, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the Service.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We accept no responsibility for any errors or omissions, or for the results obtained from the use of this information. All information in this Online YesSer App is provided with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or implied, including, but not limited to warranties of performance, merchantability and fitness for a particular purpose. Nothing herein shall to any extent substitute for the independent investigations and the sound technical and business judgment of the user(s). In no event shall YesSer TECHNOLOGY LLC OMAN be liable for any direct, indirect, incidental, punitive, or consequential damages of any kind whatsoever with respect to the Service. User(s) of this site must hereby acknowledge that any reliance upon any content shall be at their sole risk.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer TECHNOLOGY LLC OMAN reserves the right, in its sole discretion and without any obligation, to make improvements to, or correct any error or omissions in any portion of the Service or the app/YesSer app.</span></p>

<h4 style="padding: 10px 0px;"><strong>Trademark</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Every single related symbol and logos are enlisted trademarks or trademarks or administration characteristics of YesSer TECHNOLOGY LLC OMAN in different words and are ensured under pertinent copyright, trademark and other restrictive rights laws. The unapproved replicating, adjustment, utilize or production of these imprints is entirely disallowed</span></p>

<h4 style="padding: 10px 0px;"><strong>Copyright</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All substance on this Online YesSer App and site is the copyright of YesSer TECHNOLOGY LLC OMAN aside from the outsider substance and connection to outsider Websites. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Efficient recovery of YesSer TECHNOLOGY LLC OMAN substance to make or assemble, specifically or by implication, an accumulation, assemblage, database or index (regardless of whether through robots, creepy crawlies, programmed gadgets or manual procedures) without composed authorization from YesSer TECHNOLOGY LLC OMAN is prohibited.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In addition, use of the content for any purpose not expressly permitted in this Agreement is prohibited and may invite legal action. As a condition of your access to and use of YesSer TECHNOLOGY LLC OMAN's Services, you agree that you will not use the Online YesSer App service to infringe the intellectual property rights of others in any way. YesSer TECHNOLOGY LLC OMAN reserves the right to terminate the account of a user(s) upon any infringement of the rights of others in conjunction with use of the YesSer TECHNOLOGY LLC OMAN service, or if YesSer TECHNOLOGY LLC OMAN believes that user(s) conduct is harmful to the interests of YesSer TECHNOLOGY LLC OMAN, its affiliates, or other users, or for any other reason in YesSer TECHNOLOGY LLC OMAN's sole discretion, with or without cause. You shall be liable to indemnify YesSer TECHNOLOGY LLC OMAN for any losses or expenses incurred by YesSer TECHNOLOGY LLC OMAN due to any infringement of intellectual property rights owned by YesSer TECHNOLOGY LLC OMAN without prejudicing YesSer TECHNOLOGY LLC OMAN&iacute;s right to bring any legal action against you.</span></p>

<h4 style="padding: 10px 0px;"><strong>LINKS TO THIRD PARTY APPS</strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Connections to outsider locales are given by Online YesSer App as a comfort to user(s) and YesSer TECHNOLOGY LLC OMAN does not have any control over such destinations i.e substance and assets given by them.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer TECHNOLOGY LLC OMAN may permit user(s) access to substance, items or Services offered by outsiders through hyperlinks (as word connect, flags, channels or something else) to such Third Party's Website or any other online material. You are advised to peruse such locales' terms and conditions as well as protection approaches before utilizing such destinations with a specific end goal to know about the terms and states of your utilization of such locales. YesSer TECHNOLOGY LLC OMAN trusts that user(s) recognize that YesSer TECHNOLOGY LLC OMAN has no power over such outsider's site, does not screen such locales, and YesSer TECHNOLOGY LLC OMAN might not be capable or at risk to anybody for such outsider site, or any substance, items or Services made accessible on such a site. User(s) might audit YesSer TECHNOLOGY LLC OMAN Privacy Policy and submit to YesSer TECHNOLOGY LLC OMAN Privacy Policy at the season of the User(s) association with YesSer TECHNOLOGY LLC OMAN, regarding and concerning any data and information.</span></p>

<h4 style="padding: 10px 0px;"><strong>TERMINATION</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Most substance and a portion of the highlights on the Online YesSer App are made accessible to guests complimentary. Be that as it may, YesSer TECHNOLOGY LLC OMAN claims all authority to end access to specific regions or highlights of the Online YesSer App whenever for any reason, with or without take note. YesSer TECHNOLOGY LLC OMAN likewise claims the widespread authority to deny access to specific clients to any/the greater part of its Services with no earlier notice/clarification keeping in mind the end goal to ensure the interests of YesSer TECHNOLOGY LLC OMAN and additionally different guests to the Online YesSer App. YesSer TECHNOLOGY LLC OMAN maintains whatever authority is needed to restrict, deny or make diverse access to the Online YesSer App and its highlights as for various user(s), or to change any of the highlights or present new highlights without earlier notice.</span></p>

<h4 style="padding: 10px 0px;"><strong>TERMS &amp; CONDITIONS FOR USE OF OUR SERVICE</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The accompanying Terms and Conditions should apply to clients using the Services offered by the Company for the enlisting of Heavy Vehicles, Water Tankers and Gas Cylinder vehicles. </span></p>
<p>&nbsp;</p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer Technology LLC is devoted to encourage Customers and Drivers network by utilizing the innovation for the Goods carriage while YesSer Technology LLC won't assume any liability of any Country's Law's Violation by it's Customers or Drivers or some other individual utilizing YesSer application, any individual damaging law will be dealt with by the law specialists of particular contry. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The client might pay the toll (as conceded to the application), extra weighting charges for the substantial vehicles if the weighting time builds all the more then 24 hrs, the weighting charges will be OMR 2/hour which will be tallied following 24 hours of pausing (entry) time. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer Technology (YesSer) won't assume any liability of Goods harms, breakdown, wastage or any misfortune or any mischance, breakdown and deferral, any organization's (Customer's) or (Hirer's of Trucks) Policies and techniques infringement. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The client concurs and acknowledges that the utilization of the Services given by the Company is at the sole danger of the Customer, and further recognizes that the Company renounces all portrayals and guarantees of any sort, regardless of whether express or suggested. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The customer agrees and accepts that the use of the Services provided by the Company is at the sole risk of the Customer, and further acknowledges that the Company disclaims all representations and warranties of any kind, whether express or implied.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Ruining or harming the body as well as some other insides of the Vehicles. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Abusing, dirtying or harming any of the gadgets (specialized/non-specialized) in the truck. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Requesting that the driver break any Traffic or Government rules for any reason. The driver has the privilege to reject such a demand by the client. The driver additionally has the privilege to decline such a trip. &nbsp;Any Country&rsquo;s Law&rsquo;s Violation by the any customer or driver is under each violators own responsibility and the competent authorities will deal with them as per the laws of the country of operations. YesSer Technology Company LLC is held harmless and will not be responsible for the any of the violations of the any country&rsquo;s Law, what so ever, violated by the any of the its stakeholder or user of it&rsquo;s online services. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Pressurizing the driver to over-burden truck with the dispatch than as far as possible. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Customer shall indemnify Company from and against and in respect of any or all liabilities, losses, charges and expenses (including legal fees and costs on a full indemnity basis) claims, demands, actions and proceedings which Company may incur or sustain directly or indirectly from or by any reason of or in relation to the use or proposed use of the Services by the Customer and shall pay such sums on demand on the Company.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Company is therefore approved to utilize the area based data given by any of the telecommunication transmission organizations when the Customer utilizes the cell phone to make a Vehicles booking. The area based data will be utilized just to encourage and enhance the likelihood of finding a Vehicles for the Customer. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Company might be qualified for uncover to all organizations inside its gathering, or any administration body as so required by the law or by mandate or demand from any administration body, the particulars of the Customer in the ownership of Company in any capacity as Company, in its supreme tact, esteems fit or on the off chance that it thinks about it to its greatest advantage to do as such. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Company should be entitled whenever without giving any motivation to end the booking of the truck done by the Customer. User(s) should reimburse YesSer TECHNOLOGY LLC OMAN as for any costs acquired as for such reserving. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In case of lost items inside the Company during the journey, Company will try to locate the items on a "best-effort" basis but is not responsible for the same in case of loss or damage to the same. YesSer TECHNOLOGY LLC OMAN aggregates its vehicles for the purposes of providing services. In the event of loss of any item, User(s) shall not have any right to withhold the payment to be made towards YesSer TECHNOLOGY LLC OMAN. Further, in the event any payments from the User to YesSer TECHNOLOGY LLC OMAN are pending for the period prescribed by YesSer TECHNOLOGY LLC OMAN in its respective invoice, YesSer TECHNOLOGY LLC OMAN reserves the right to exercise particular lien over the consignment till full payment is made to YesSer TECHNOLOGY LLC OMAN for its services. Additionally, User(s) will be liable to indemnify YesSer TECHNOLOGY LLC OMAN against any loss, damage or expenses incurred to us due to the custody of the consignment during this period.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Any grumbling in regard of the Services or the utilization of the Vehicles, the Customer needs to inform Company for the same in composing within 24hours of utilizing the Vehicles or the Services of Company.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Company might not be obligated for any lead of the drivers of the Vehicles. In any case, the Company urges you to advise it of any objections that you may have against the driver that you may have enlisted utilizing the Company's Services. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Company should be qualified for add to, change or alter any or every one of these terms and conditions whenever and the Customer might be bound by such option, variety or correction once such option, variety or alteration are fused into these terms and conditions at Company's YesSer application, on the date that Company may show that such option, variety or revision is to happen.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Every one of the calls made to the Company's call focus are recorded by the Company for quality and preparing purposes. In the occasion You put an inquiry on our application/YesSer application incorporating question concerning our Services, relevant charges or terms of Service, You thusly explicitly consent to agree to get our reactions, regardless of whether by method for telephonic calls or electronic mail, to such inquiry and all related data as for our Services. For evacuation of questions, related data should incorporate without restriction any promoting and additionally business data.</span></p>


<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><strong><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Cancellation Policy</span></strong></p>
<h4 style="padding: 10px 0px;"><strong>TERMS &amp; CONDITIONS FOR USE OF OUR SERVICE</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All cancelations made for Freight, Gas and Water Tanker; 15 minutes after the booking will cause a cancelation expense of 5% of the receipt esteem. Wiping out four appointments after driver portion in a day will briefly obstruct your record for a time of 24 hours. Your record will be enacted naturally post that. Figures are liable to change. Any Cancelation for the Freight made after 30 minuets will be charged by per KM accuses of regard to the aggregate receipt esteem, overall premise as outing cost partitioned by number of kilometers, and client will be at risk to pay it in 24 hrs</span><span style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">.</span></p>


<h4 style="padding: 10px 0px;"><strong>CONFIDENTIALITY</strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">User(s) might not reveal any data got under the agreement of administration with YesSer TECHNOLOGY LLC OMAN to any outsider. Access to any data which relates to business of YesSer TECHNOLOGY LLC OMAN should be kept private to the degree it may unfavorably affect YesSer TECHNOLOGY LLC OMAN business. User(s) might be subject to reimburse YesSer TECHNOLOGY LLC OMAN against any loss of business or notoriety because of the demonstration of the user(s).</span></p>


<h4 style="padding: 10px 0px;"><strong>DISCLAIMER</strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All vehicles enrolled with the Company are constantly followed utilizing portable innovation for security reasons as it were. It is explicitly clarified to you thus that the Company does not claim any Vehicles nor does it straightforwardly or by implication utilize any drivers for the vehicle. Vehicles and drivers are altogether provided by outsiders and the Company repudiates any risk in regard of the drivers and the Vehicles alike. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Company have appropriate to utilize the client contact data for its own particular showcasing purposes. The Company may send consistent SMS updates to the versatile numbers enlisted with it. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The courts of Sultanate of Oman and all Gulf Countries might have the sole and selective locale in regard of any issues emerging from the utilization of the Services offered by Company or the assention or course of action amongst Company and the Customer.</span></p>

<h4 style="padding: 10px 0px;"><strong>YOUR OBLIGATIONS</strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You warrant, undertake and guarantee to us:</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The contents of the consignment (including but not limited to weight and number of items) have been properly described on our consignment note and that the Consignment Note is complete in all respects and the documents as required for the Tran consignment including invoice, permits are enclosed with the Consignment Note.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">That the contents of the Consignment are not Prohibited Items and/or are not restricted by the applicable regulations and that you will supply to us any Dangerous Goods declaration that is needed, properly and accurately in accordance with all applicable laws, rules and regulations and neither you nor the consignee is a person or organization with whom we or you may not legally trade under any applicable laws or regulations.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">That all statements and information and documents provided by you relating to the Consignment will be true and correct and you acknowledge that in the event that you make untrue or fraudulent statement about the Consignment or any of its contents, you would risk a civil claim and/or criminal prosecution the penalties for which may include forfeiture and sale. You agree to indemnify us and hold us harmless from any claims that may be brought against us or our agents arising from the information provided by you.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We are authorized to deliver the goods at the address mentioned on the Consignment Note and without prejudice to the foregoing it is expressly agreed that we shall be conclusively presumed to have delivered the goods in accordance with this contract. We may be sending the delivery confirmation by SMS/e-mails, no-response within 24 hours would be considered as an affirmative to the delivery.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Customers will declare the correct weight of the consignment and will provide any special equipment, labors Drivers may need to load or unload the consignment on or off their vehicles.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">When you have asked us to charge the receiver or a third party and the receiver or third party does not pay us you will promptly settle our invoice together with an administration fee in full within 7 days of us sending you the invoice.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All applicable laws and regulations have been complied with by you.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You agree to indemnify us and hold us harmless from any liabilities we may suffer or any costs, damages or expenses, including legal costs, we incur either to you or to anyone else arising out of you being in breach of any of these warranties, representations and guarantees, even if we inadvertently accept a consignment that contravenes any of your obligations.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You certify that all statements and information you provide relating to the transportation of the consignment will be true and correct. You acknowledge that in the event that you make untrue or fraudulent statements about the consignment or any of its contents you risk a civil claim and/or criminal prosecution the penalties for which include forfeiture and sale of your consignment. To the extent that we may voluntarily assist you in completing the required customs and other formalities such assistance will be rendered at your sole risk. You agree to indemnify us and hold us harmless from any claims that may be brought against us arising from the information you provide to us and any costs we will incur regarding this, and pay any administration fee we may charge you for providing the services described in this condition.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The customer agrees and acknowledges that the use of the Services offered by Company is at the sole risk of the customer and that Company disclaims all representations and warranties of any kind, whether express or implied as to condition, suitability, quality, merchantability and fitness for any purposes are excluded to the fullest extent permitted by law. Without prejudice to the above, the Company makes no representation or warranties with respect to:</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Services meeting the customer's requirements.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Services will be uninterrupted, timely, secure, or error-free.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Any responsibility or liability for any loss or damage, howsoever caused or suffered by the Customer arising out of the use of truck service offered by Company or due to the failure of Company to provide Services to the Customer for any reason whatsoever including but not limited to the Customer's non-compliance with the Services' recorded voice instructions, malfunction, partial or total failure of any network terminal, data processing system, computer tele-transmission or telecommunications system or other circumstances whether or not beyond the control of Company or any person or any organization involved in the above mentioned systems.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Any liability for any damages of any kind arising from the use of the Service offered by the Company, including, but not limited to direct, indirect, incidental, punitive, and consequential damages.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">After using the YesSer online services and trips completion, Drivers agree not to contact any of the customers in future, customers who were referred by YesSer&rsquo;s app in Drivers past trips, for any of the business purpose other then YesSer Technology LLC Online services , any driver or vehicle owner or transport company does this, will be liable to pay OMR 3,000/- (Three Thousand Omani Rial) to YesSer Technology LLC as the penalty, similarly if any customer contacts to the drivers referred by YesSer after the delivery is done, for the new Load, directly or indirectly with out using YesSer&rsquo;s app will be liable to pay a penalty of OMR 3,000/- (Three Thousand Omani Rial) to YesSer Technology LLC. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Any alternate arrangement(s) if the Vehicles has not reached due to any reason.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We are not liable if we do not fulfill any obligations towards you at all as a result of:</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Circumstances beyond our control such as (but not limited to):</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Acts of God including earthquakes, cyclones, storms, flooding, fire, disease, fog, snow or frost or other natural calamities or disasters</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Force majeure including (but not limited to) war, accidents, acts of public enemies, strikes, embargoes, perils of the air, local disputes or civil commotions.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">National or local disruptions in air or ground transportation networks and mechanical problems to modes of transport or machinery.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Latent defects or inherent vice in the contents of the consignment.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Criminal acts of third parties such as theft and arson.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Your acts or omissions or those of third parties such as:</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You being in breach of (or any other party claiming an interest in the consignment causing you to breach) your obligations under these terms and conditions.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The contents of the consignment consisting of any article that is a prohibited item even though we may have accepted the consignment by mistake.</span></p>
<p>&nbsp;</p>


<h4 style="padding: 15px 0px;"><strong>DANGEROUS GOODS </strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We don't convey, nor perform different administrations in regards to, merchandise which are as we think Dangerous Goods including, yet not restricted to, those predefined in the directions, rules, specialized guidelines, codes appropriate to us and our business or to the vehicle of, or the execution of different administrations with respect to, Dangerous Goods. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We may at our tact acknowledge some Dangerous Goods for carriage, or for the execution of different administrations, in a few areas on the off chance that you have been concurred the status of an affirmed client and this must be given by us in composing before your relegation can be acknowledged. Your Dangerous Goods might be acknowledged on the off chance that they conform to the relevant controls and our prerequisites. Subtle elements of our prerequisites together with the methodology for applying for affirmed client status are accessible from our closest office and a perilous products additional charge will be invoiced to endless supply of your committal. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Prohibited Items: We don't acknowledge dispatches that contain disallowed things. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We acknowledge relegations just upon your affirmation of the sort and estimation of the committal (said to contain premise). We have no duty at all with regards to the rightness of depiction, sort or esteem thereof and you consent to reimburse us and hold us innocuous from any cases that might be brought against us emerging out of or identifying with such revelation given by you and any costs we will acquire relating thereto.</span></p>

<h4 style="padding: 15px 0px;"><strong>REJECTED CONSIGNMENTS </strong></h4>

<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If the receiver refuses to accept delivery we will try to contact you and agree the appropriate next action. You agree to pay us any costs we incur in forwarding, disposing of or returning the consignment and our charges (if any) for the agreed appropriate next action.</span></p>

<h4 style="padding: 15px 0px;"><strong>CLAIMS BROUGHT BY THIRD PARTIES</strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You undertake to us that you shall not permit any other person who has an interest in the consignment to bring a claim or action against us arising out of Carriage even though we may have been negligent or in default and if a claim or action is made you will indemnify us against the consequences of the claim or action and the costs and expenses we incur in defending it.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The above mentioned terms and conditions of use and/or Agreement and the Privacy Policy constitute the entire agreement between the User(s) and YesSer TECHNOLOGY LLC OMAN with respect to access to and use of the Online YesSer App and the Services offered by YesSer TECHNOLOGY LLC OMAN, superseding any prior written or oral agreements in relation to the same subject matter herein.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If user(s) terminates the agreement with YesSer TECHNOLOGY LLC OMAN with respect to any consignment, user(s) shall be liable to pay YesSer TECHNOLOGY LLC OMAN the entire fees and other expenses so incurred with respect to such consignment.</span></p>

<h4 style="padding: 15px 0px;"><strong>CASHBACK SCHEMES </strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">It would be ideal if you discover all cashback related terms and conditions here. Any none installment of money to the drivers will be liable to the skilled experts demonstration of infringement of none installment, subject to the able specialists activity, also, YesSer Technology LLC may hinder the client name and record for additionally utilizing and enrollment of the application, and take important legitimate activities if required.</span></p>

<h4 style="padding: 15px 0px;"><strong>DISCLAIMER </strong></h4>


<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The data contained in this YesSer application is for general data purposes as it were. The data is given by YesSer Technology LLC Oman and keeping in mind that we try to stay up with the latest and right, we make no portrayals or guarantees of any sort, express or suggested, about the fulfillment, exactness, unwavering quality, reasonableness or accessibility as for the YesSer application or the data, items, benefits, or related illustrations contained on the YesSer application for any reason. Any dependence you put on such data is in this manner entirely at your own particular hazard. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In no occasion will we be at risk for any misfortune or harm including without constraint, circuitous or significant misfortune or harm, or any misfortune or harm at all emerging from loss of information or benefits emerging out of, or regarding, the utilization of this YesSer application. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Through this YesSer application you can connection to different Websites which are not under the control of YesSer Technology LLC Oman. We have no power over the nature, substance and accessibility of those Websites. The incorporation of any connections does not really infer a proposal or support the perspectives communicated inside them. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Each exertion is made to keep the YesSer App up and running easily. Be that as it may, YesSer Technology LLC Oman assumes no liability for, and won't be obligated for, the YesSer App being incidentally inaccessible because of specialized issues outside our ability to control.</span></p>

<h4 style="padding: 15px 0px;"><strong>MATERIALS: </strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Vehicle hired is consented to be as expressed herein.The Driver and the organization must fulfill themselves that the vehicle and material being carriage are safe,suitable and adequate of the work to be finished. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The gear procured by the Company does not indicate to be new stock, or equivalent to new, yet when conveyed, all things are comprehended to be in great request for typical foot stack working at the expressed limit under any conventional conditions.</span></p>

<h4 style="padding: 15px 0px;"><strong>OPERATION </strong></h4>


<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Competent drivers or operators must be responsible for all cleaning, lubrication and maintenance of adjustment, and for any damage due to overloading mistakes, or neglect in handling, etc, during the hire period. However, the hirer make sure not exceed the limit of weightage capacity of the vehicles. Any violation of law will be handled by the competent authorities of the country of the operations. </span></p>
<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Driver or Operators must keep the vehicles in proper working order at his own expense, and pay all costs for replacement or repair required due to breakdown or any other incident. </span></p>

<h4 style="padding: 15px 0px;"><strong>FUEL, OIL, ETC </strong></h4>

<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Drivers and Operators to check every day before starting up. The drivers shall provide all petrol, fuel, oil, lubricating oil, cleaning and other materials required for the operations of the vehicle.</span></p>


<h4 style="padding: 15px 0px;"><strong>BREAKDOWNS </strong></h4>

<p style="line-height: 1.3800000000000001; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Driver or Operator must notify the company immediately of any mechanical breakdown.</span></p>


<h4 style="padding: 15px 0px;"><strong>ADDITIONAL TERMS: </strong></h4>

<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All records are expected for installment by the 30th of the month following invoice. Accounts unpaid following 30 days after due date may bring about a 2% late installment fee or other wise agree by YesSer Technology LLC. Accounts unpaid 90 days from the due date may have credit offices pulled back and there will be reviewed, and fundamental advances taken to recuperate the obligation, without preference to their rights to recoup all sums.</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Accounts will be subjected to a credit limit.If any account is in dispute the undisputed portion of the account shall be payable in accordance with normal terms of trade. Payment of the disputed portion may be withheld providing full details</span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">All traffic infringement notices (e.g. traffic fines) that are incurred by the driver, representative or operator while on hire, are to be paid for by the drivers or sponsor company. </span></p>
<p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 10pt; text-align: justify;"><span style="font-size: 12pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YesSer Technology LLC Company will not be responsible for any delays, accidents or damages of any kind, direct or indirect, which arise through defect or breakdowns of vehicle and Goods. Also YesSer Technology LLC will not be responsible for any fine arising on drivers or operations or vehicles or customers violations for what so ever reasons. Both Drivers and Customers or any of YesSer online services or any service user here by agree and held YesSer Technology LLC Harmless for all incidents and Laws Violations by the customers and drivers or any other user of YesSer Technology LLC online or any other services. </span></p>

</div>
</div>
</div>

</body>
</html>